anyio==2.0.2
argon2-cffi==20.1.0
astroid==2.4.2
async-generator==1.10
Babel==2.9.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
bokeh==2.2.3
bs4==0.0.1
cffi==1.14.4
cloudpickle==1.6.0
dask==2021.1.0
decorator==4.4.2
defusedxml==0.6.0
distributed==2021.1.0
entrypoints==0.3
et-xmlfile==1.0.1
fsspec==0.8.5
HeapDict==1.0.1
ipykernel==5.4.3
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.7.0
jdcal==1.4.1
jedi==0.18.0
json5==0.9.5
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyter-server==1.2.2
jupyterlab==3.0.5
jupyterlab-pygments==0.1.2
jupyterlab-server==2.1.2
jupyterlab-widgets==1.0.0
lazy-object-proxy==1.4.3
locket==0.2.1
mccabe==0.6.1
mistune==0.8.4
msgpack==1.0.2
nbclassic==0.2.6
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.4.3
notebook==6.2.0
numpy==1.19.5
openpyxl==3.0.6
packaging==20.8
pandas==1.2.0
pandocfilters==1.4.3
parso==0.8.1
partd==1.1.0
pdfminer==20191125
pickleshare==0.7.5
Pillow==8.1.0
prometheus-client==0.9.0
prompt-toolkit==3.0.10
psutil==5.8.0
ptyprocess==0.7.0
pycparser==2.20
pycryptodome==3.9.9
Pygments==2.7.4
pylint==2.6.0
pyparsing==2.4.7
PyPDF3==1.0.2
PyPDF4==1.27.0
pyreadline==2.1
pyte==0.8.0
python-dateutil==2.8.1
pytz==2020.5
pyzmq==21.0.1
qrcode==6.1
qtconsole==5.0.1
QtPy==1.9.0
Send2Trash==1.5.0
sniffio==1.2.0
sortedcontainers==2.3.0
soupsieve==2.1
tblib==1.7.0
terminado==0.9.2
testpath==0.4.4
thefuck==3.30
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.56.0
traitlets==5.0.5
typing-extensions==3.7.4.3
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zict==2.0.0
